<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="bugfix.itsolutions.jsfoodi">

    <permission android:name="android.permission.INTERNET" />
    <permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <permission android:name="android.permission.POST_NOTIFICATIONS" />
    <permission android:name="android.permission.CALL_PHONE" />
    <permission android:name="android.permission.FOREGROUND_SERVICE" />
    <permission android:name="android.permission.CAMERA" />
    <permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplicationContext"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon"
       >
        <activity
            android:name=".ui.location.ChangeLocation"
            android:exported="false" />
        <receiver
            android:name="bugfix.itsolutions.jsfoodi.SmsListener"
            android:exported="false">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="bugfix.itsolutions.jsfoodi.catagoryView"
            android:exported="false" />
        <activity android:name=".ui.review.NewReviewActivity" />
        <activity android:name=".ui.review.ReviewsActivity" />
        <activity
            android:name="bugfix.itsolutions.jsfoodi.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.location.ChangeLocationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.order.CurrentOrderActivity" />
        <activity android:name=".ui.order.OrdersActivity" />
        <activity android:name=".ui.order.OrderSuccessfulActivity" />
        <activity android:name=".ui.order.CheckoutActivity" />
        <activity android:name=".ui.main.MainRestaurantPageActivity" />
        <activity android:name=".ui.cart.EmptyCartActivity" />
        <activity
            android:name=".ui.cart.CartItemActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.auth.AddInfoActivity" />
        <activity android:name=".ui.auth.OtpActivity" />
        <activity android:name=".ui.auth.LoginActivity" />
        <activity android:name="bugfix.itsolutions.jsfoodi.MainActivity" />
        <activity android:name="bugfix.itsolutions.jsfoodi.search_service" />


        <service
            android:name="bugfix.itsolutions.jsfoodi.FCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBYKkbp2DmXAKTfUkdFQ7Wrl5aVRAvIqjU" />
    </application>

</manifest>